
    
<%
=begin
%>
<%= form_for  [@current_user,@current_user.stories.build],url: {atcion: 'confirm'} do |f| %>

                
<%
=end
%>


<ul>     
        
        <%= form_for [@current_user,@current_user.stories.build] do |f| %>

        <%= f.label :title%><br>
        <li><%= f.text_field :title %></li>

        <%= f.label :situation %><br>
        <li><%= f.collection_select :situation,@situations,:situ,:situ %></li>

        <li><%= f.collection_radio_buttons :humantype1,@humantypes,:typeindex,:content_type %></li>

        <li><%= f.collection_radio_buttons :humantype2,@humantypes,:typeindex,:content_type %></li>


        <li><%= f.label :story_ja %></li><br>
        <%= f.text_area :story_ja ,cols: 40,rows: 5 %><br>

        <%= f.label :ispublish %><br>
        <li><%= f.radio_button :ispublish,false %>公開しない
        <%= f.radio_button :ispublish,true %>公開する</li>
        <li><%= f.submit %></li>

        <% end %>
 </ul>

 
<%
=begin
%>

<% @story = [@current_user,@current_user.stories.build] %>

<%
=end
%>

