<h1>ジョーク作成</h1>
<%= render 'form' %>

<%
=begin
%>
<table>
    <tr>
    <th bgcolor="#EE0000"><font color="#FFFFFF">タイトル</font></th>
    <th bgcolor="#EE0000"><font color="#FFFFFF">シチュエーション</font></th>
    <th bgcolor="#EE0000"><font color="#FFFFFF">会話数</font></th>
    </tr>
    <% @current_user.stories.each do |story| %>
    
    <tr>
    <td><%= story.title %></td>
    <td><%= story.situation %></td>
    <% array=story.story_ja.split(",") %>
    <td><%= array.count %></td>
    

    <td><%= link_to "[Detail]", user_story_path(story.user.id,story.id) %></td>
    <td><%= link_to "[Delete]",user_story_path(story.user.id,story.id),method: :delete, data: {confirm: "are you sure?"} %></td>
    </tr>
    
    <% end %>
    
</table>

<%
=end
%>

<%
=begin
%>
        <%= f.label :situation %><br>
        <% options = [["学校",1],["バー",2],["居酒屋",3],["職場",4],["道端",5],["家",6],["グラウンド",7],["電車内",8],["レストラン",9]] %>
        <li><%= f.select :situation, options %></li>
<%
=end
%>


<%
=begin
%>
        メイン

        <ul>
    
        <%= form_for [@current_user,@current_user.stories.build] do |f| %>

        <%= f.label :title%><br>
        <li><%= f.text_field :title %></li>
        

        <%= f.label :situation %><br>
        <li><%= f.collection_select :situation,@situations,:situ,:situ %></li>

        <li><%= f.collection_radio_buttons :humantype1,@humantypes,:typeindex,:content_type %></li>

        <li><%= f.collection_radio_buttons :humantype2,@humantypes,:typeindex,:content_type %></li>



        <li><%= f.label :story_ja %></li><br>
        <%= f.text_area :story_ja ,cols: 40,rows: 5 %><br>

        <%= f.label :ispublish %><br>
        <li><%= f.radio_button :ispublish,false %>公開しない
        <%= f.radio_button :ispublish,true %>公開する</li>


        <li><%= f.submit %></li>
        <% end %>
    
</ul>
    
        メイン

<%
=end
%>

        
<%
=begin
%>

        <%= f.label :humantype1 %><br>
        <li><%= f.text_field :humantype1 %></li>

        <%= f.label :humantype2 %><br>
        <li><%= f.text_field :humantype2 %></li>
<%
=end
%>

<%
=begin
%>


        <%= f.label :humantype1 %><br>
        <li><%= f.collection_select :humantype1,@humantypes,:typeindex,:content_type %></li>


        <%= f.label :humantype2 %><br>
        <li><%= f.collection_select :humantype2,@humantypes,:typeindex,:content_type %></li>



        <li><%= f.collection_radio_buttons :humantype1,@humantypes,:typeindex,:content_type %></li>

        <li><%= f.collection_radio_buttons :humantype2,@humantypes,:typeindex,:content_type %></li>



        <li><%= f.label :story_ja %></li><br>
        <%= f.text_area :story_ja ,cols: 40,rows: 5 %><br>

        <%= f.label :ispublish %><br>
        <li><%= f.radio_button :ispublish,false %>公開しない
        <%= f.radio_button :ispublish,true %>公開する</li>


        <li><%= f.submit %></li>
        <% end %>
    
</ul>
<%
=end
%>

