<h1>検索結果:PV</h1>


<table>
    <tr>
    <th bgcolor="black"><font color="#FFFFFF">タイトル</font></th>
    <th bgcolor="black"><font color="#FFFFFF">シチュエーション</font></th>
    <th bgcolor="black"><font color="#FFFFFF">PV</font></th>
    </tr>
    
    <% @stories.each do |story| %>
    
    <tr>
    <td><%= link_to story.title ,user_story_path(story.user.id,story.id) %></td>
    <td><%= story.situation %></td>
    <td><%= story.pv %>以上</td>


 <%
=begin
%>
   
    <td><%= link_to "[Detail]", user_story_path(story.user.id,story.id) %></td>
<%
=end
%>

    <% if @current_user && @current_user.id == story.user.id %>
    <td><%= link_to "[Delete]",user_story_path(story.user.id,story.id),method: :delete, data: {confirm: "are you sure?"} %></td>
    </tr>
    <% end %>
    <% end %>
    
</table>
<%= will_paginate @stories %>