<h1>Edit-Translation(英訳編集)</h1>
<%
=begin
%>
<p>
story.title=<%= @story.title %><br />
@story.englishcomments.size =<%= @story.englishcomments.size %><br />
@englishcomments.size =<%= @englishcomments.size %><br />
@array = @story.story_ja.size.split = <%= @array.size %><br />
</P>
<%
=end
%>

<%= form_for(@story) do |f| %>
<div class="field">
   
    <%= f.label :englishcomemnts, "英訳" %><br />
     <%= f.fields_for :englishcomments do |form| %>
      <%= form.label :body,  @array[@count] %>:

      <%= form.text_field :body %>
      <%= form.label :ispublish,  "公開フラグ" %>:
      <%= form.check_box :ispublish %><br />
      <% @count = @count +1 %>
    <% end %>
  </div>
 <div class="actions">
    <%= f.submit "英訳編集"%>
 </div>
<% end %>
<%= link_to "戻る",user_story_path(@story.user.id,@story.id) %>